.clock-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#clock {
    font-size: 80px;
    /* color: #333; */
    color: white;
    /* background-color: black; */
    text-align: center;
}

body {
    background: url(bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}